.idea*
.DS_Store
.idea
*.o
*~
*CMakeFiles
*CMakeCache.txt
Makefile
cmake_install.cmake
.project
.cproject
*cmake-build-debug
*googletest-build
*googletest-download
*googletest-src
*googletest
noise_removed_signal.dat
intensity_histogram.dat
signal-processing.cbp
.ipynb_checkpoints
*build
